<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>OnlineShop</title>
</head>
<body>
<nav th:replace="fragments/nav"></nav>
<main>
    <p class="h2 text-center">Add category</p>
    <div class="bg-transparent m-3 d-flex align-items-center justify-content-center">
        <div class="form-control bg-info w-50 m-3">
            <div class="p-3">
                <form th:action="@{/users/moderator/add-category}"
                      th:method="POST">
                    <div class="form-outline mb-4">
                        <small class="bg-dark text-light h4 justify-content-start rounded ml-3">Name</small>
                        <input type="text" placeholder="Enter name" name="name" id="id"
                               minlength="3" maxlength="30" class="form-control form-control-lg mt-3" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Submit</button>
                </form>
            </div>
        </div>
</main>

<script src="/js/app.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
</body>
</html>