<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>OnlineShop</title>
</head>
<body>
<nav th:replace="fragments/nav"></nav>

<p class="h2 text-center">Users</p>

<table class="table-sm table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>Email</th>
        <th>Registration date</th>
        <th>Orders Count</th>
        <th>Orders Sum</th>
        <th>Address count</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}">keyvalue</td>
        <td th:text="${user.email}">keyvalue</td>
        <td th:text="|${user.registeredOn.getDayOfMonth()}-${user.registeredOn.getMonth().name()}-${user.registeredOn.getYear()}
            (${user.registeredOn.getHour()}:${user.registeredOn.getMinute()}:${user.registeredOn.getSecond()})|">
            keyvalue
        </td>
        <td th:text="${user.ordersCount}">keyvalue</td>
        <td th:text="${user.ordersSum}">keyvalue</td>
        <td th:text="${user.address.size}">keyvalue</td>
        <td th:text="${user.getRolesNames()}">keyvalue</td>
        <td>
            <form th:if="${user.id != #authentication.getPrincipal().getId()}"
                  th:action="@{/users/admin/delete/{id}(id=${user.id})}"
                  th:method="POST">
                <button type="submit" class="btn btn-danger">DELETE
                </button>
            </form>
            <p th:unless="${user.id != #authentication.getPrincipal().getId()}">You cannot delete yourself</p>
        </td>
    </tr>
    </tbody>
</table>

<script src="/js/app.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
</body>
</html>