<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>OnlineShop</title>
</head>
<body>
<nav th:replace="fragments/nav"></nav>
<main>
    <p class="h2 text-center">Edit profile</p>
    <div class="bg-transparent m-3 d-flex align-items-center justify-content-center">
        <div class="form-control bg-info">
            <div class="p-3">
                <form th:action="@{/users/profile/edit}"
                      th:method="POST">
                    <div class="form-outline mb-4">
                        <small class="bg-dark text-light h4 justify-content-start rounded ml-3">Name</small>
                        <input type="text" th:value="${userInfo}" name="name" id="name" class="form-control form-control-lg mt-3">
                    </div>
                    <strong class="bg-dark text-light h4 justify-content-start rounded ml-3">Addresses</strong>
                    <table class="table table-bordered mt-3">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address line</th>
                            <th>Town</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="a: ${addresses}">
                            <td><input type="text" th:value="${a.name}" class="form-control"/></td>
                            <td><input type="text" th:value="${a.addressLine}" class="form-control" /></td>
                            <td><input type="text" th:value="${a.town}" class="form-control" /></td>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center">
                        <button type="submit"
                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="/js/app.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
</body>
</html>