<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>OnlineShop</title>
</head>
<body>
<nav th:replace="fragments/nav"></nav>
<main style="font-family: Algerian ,monospace;">
        <div class="h1 text-xl-center mt-lg-5">Welcome to shop for 3D printed figures</div>
        <div class="h2 text-xl-center">Please, browse our items in <a href="/shop" class="h2 text-xl-center text-light">Shop</a> </div>
        <div class="align-items-center mt-3">
            <img src="/images/index-background.gif" alt="3D printer" class="center">
        </div>
</main>

<script src="/js/app.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
</body>
</html>