<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>OnlineShop</title>
</head>
<body>
<nav th:replace="fragments/nav"></nav>
<main>
    <div th:if="${success}" id="success"
         class="alert alert-success text-center font-weight-bold" style="display:block; margin: auto; width: fit-content;">Successfully!
    </div>
    <div class="container py-2 bg-transparent">
        <p class="h6 ml-2 font-weight-bold">Items<a th:href="@{/users/moderator/add-item}" class="btn-sm btn-success p-1 mb-3 addButton">Add
            item</a></p>
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Times ordered</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr th:each="item : ${allItems}">
                <td th:text="${item.id}" class="align-middle"></td>
                <td th:text="${item.name}" class="align-middle"></td>
                <td th:text="${item.price}" class="align-middle"></td>
                <td th:text="${item.discount}" class="align-middle"></td>
                <td th:text="${item.timesOrdered}" class="align-middle"></td>
                <td th:text="${item.category.name}" class="align-middle"></td>
                <td>
                    <a th:href="@{/users/moderator/edit-item/{id}(id=${item.id})}" class="btn-sm btn-warning">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container py-1 bg-transparent">
        <p class="h6 ml-2 font-weight-bold">Categories
            <a th:href="@{/users/moderator/add-category}" class="btn-sm btn-success p-1 mb-2 addButton">Add category</a>
            <small class="bg-danger align-content-center text-light rounded float-right mr-3 p-1">To DELETE a category, it must be
                empty</small></p>
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Items</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr th:each="cat : ${allCategories}">
                <td th:text="${cat.id}" class="align-middle">keyvalue</td>
                <td th:text="${cat.name}" class="align-middle">keyvalue</td>
                <td th:text="${itemsCountByCategory.get(cat.name)}" class="align-middle">keyvalue</td>
                <td th:if="${itemsCountByCategory.get(cat.name)} == 0" style="border: none">
                    <form  th:action="@{/users/moderator/delete-category/{id}(id=${cat.id})}"
                           th:method="POST">
                    <button type="submit" onclick="if(!confirm('Delete is permanently and nonrecoverable!')){return false}"
                            class="bg-transparent"><img src="/images/utils/delete-button.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<script src="/js/app.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
</body>
</html>