<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>OnlineShop</title>
</head>
<body>
<nav th:replace="fragments/nav"></nav>
<main>
    <div th:if="${success}" id="success"
         class="alert alert-success text-center" style="display:block">Item successfully added!
    </div>
    <p class="h2 text-center">Items</p>
    <a th:href="@{/users/moderator/add-item}" class="btn btn-success p-1 mb-2 addItemButton">Add item</a>

    <table class="table-sm table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Times ordered</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${allItems}">
            <td th:text="${item.id}">keyvalue</td>
            <td th:text="${item.name}">keyvalue</td>
            <td th:text="${item.price}">keyvalue</td>
            <td th:text="${item.discount}">keyvalue</td>
            <td th:text="${item.timesOrdered}">keyvalue</td>
            <td th:text="${item.category.name}">keyvalue</td>
            <td>
                <form th:action="@{/users/moderator/delete/{id}(id=${item.id})}"
                      th:method="POST">
                    <button type="submit" class="btn btn-info">Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<script src="/js/app.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
</body>
</html>