<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>OnlineShop</title>
</head>
<body>
<nav th:replace="fragments/nav"></nav>
<main>
    <div th:if="${success}" id="success"
         class="alert alert-success text-center" style="display:inline-block; margin: auto; width: fit-content;">
        Successfully!
    </div>
    <div class="container py-5 bg-transparent col-12">
        <div class="row m-1 bg-light border border-danger rounded text-center">
            <div class="col-4 p-2 m-2 bg-info border border-danger rounded align-self-center">
                <button onclick="location.href='/users/profile/edit-name'" type="submit"
                        class="btn btn-warning p-1 mb-2">
                    Edit
                </button>
                <p class="h4 font-weight-bold" th:text="${userName}"></p>
                <p class="h5" th:text="${#authentication.getPrincipal().getUsername()}"></p>
                <p class="small"
                   th:text="|Registered on: ${#authentication.getPrincipal().getRegisteredDate()} at ${#authentication.getPrincipal().getRegisteredTime()}|"></p>
                <p class="small" th:text="|IP Address: ${#authentication.getDetails().getRemoteAddress()}|"></p>
            </div>
            <div class="col p-2 m-2 bg-light border border-danger rounded">
                <p class="h3 text-center">Addresses</p>
                <button type="submit" class="btn btn-success p-1 mb-2" onclick="showForm()">Add</button>
                <div class="loginPopup">
                    <div id="popupForm" style="display:none">
                        <form th:action="@{/users/add-address}"
                              th:method="POST"
                              th:object="${addAddressDTO}"
                              class="formContainer">
                            <label for="name"></label>
                            <input th:field="*{name}"
                                   type="text" id="name" placeholder="Address name" name="name" required>
                            <label for="addressLine"></label>
                            <input th:field="*{addressLine}"
                                   type="text" id="addressLine" placeholder="Enter address" name="addressLine" required>
                            <label for="town"></label>
                            <input th:field="*{town}"
                                   type="text" id="town" placeholder="Enter town" name="town" required>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address line</th>
                        <th>Town</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a: ${addresses}">
                        <td th:text="${a.name}" class="align-middle"/>
                        <td th:text="${a.addressLine}" class="align-middle"/>
                        <td th:text="${a.town}" class="align-middle"/>
                        <td><a class="btn btn-warning"
                               th:href="@{/users/profile/edit-address/{id}(id=${a.id})}">Update</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-1 bg-light border border-danger rounded text-center">
            <div class="col p-2 m-2 bg-light border border-danger rounded">
                <p class="h3 text-center text-center">Orders</p>
            </div>
        </div>
    </div>
</main>
<script src="/js/app.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
</body>
</html>