<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Error 404</title>
</head>
<body>
<div class="container align-items-center mt-5">
    <p class="h1 text-center mt-5">Status code: 404 Not found</p>
    <p class="h4 text-center">The resource you were trying to reach couldn't be found on the server</p>
</div>
<div class="col text-center mt-5">
    <button class="btn btn-danger align-items-center mt-5" onclick="history.back()">Go Back</button>
</div>
</body>
</html>